# Node dependencies
node_modules/

# Local cache directories
.cache/
backend/scripts/.cache/

# Local configurations and state
backend/.env
backend/scripts/session.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Production builds
dist/
build/
